body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
	background-color: #3b5998;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-left {
  margin: 0 0 0 14%;
  display: flex;
  
}

.header-left button {
    background-color: #42b72a;
    border-style: hidden;
    height: 20px;
    width: 40px;
    margin: 35px 0 0 5px;
    color: white;
}
header p {
  margin: 30px 14% 0 0;
  padding: 0px;
  height: 30px;
}

header p:hover{
  text-decoration: underline;
  cursor: pointer;
}

main {
  background-color: #e9ebee;
  margin: 0px;
  padding: 20px 15% 20% 15%;
  height: 100%;
}

main h2 {
  margin: 0;
}

.content-below {
  display: flex;
  margin: 0;
  padding: 0;
}

figure {
  width: 100%;
  background-color: white;
  padding: 30px;
  text-align: center;
  margin: 0;
}
.left-figure {
  margin-right:20px;
}

figure button {
  margin-top: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

figure p {
  color: rgb(121, 120, 120);
}